{% extends 'base.html' %}

{% block main %}

<div class="container d-flex justify-content-center">
    <div class="col-6 mb-4 card p-4">
        <form method="post" action="">
            {% csrf_token %}
            <h5>Are you sure you  want to delete the  article <span style="text-decoration:underline;"> " {{ article.title }}"   </span>?</h5>
            <br>
            <input class="btn btn-danger btn-lg" type="submit" value="Yes, I delete!">
            <a href="{% url 'article' article.id %}" class="btn btn-success btn-lg">Back</a>
        </form>
    </div>
</div>


{% endblock main %}