{% extends 'base.html' %}
{% block title %}

{{ title }}

{% endblock title %}


{% block main %}
<div class="google-maps  d-flex justify-content-center mb-50  ">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d194198.9840026235!2d71.06908721949011!3d40.48944105803617!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38bb028e966a39b1%3A0x9983221e39dd013!2sBagdad%20District%2C%20Uzbekistan!5e0!3m2!1sen!2s!4v1674994618062!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

{% endblock main %}